main {
  background-color: rgb(1, 4, 6);
  font-family: "Noto Sans JP", sans-serif !important;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  min-width: 100%;
  background-color: rgb(57, 70, 80);
  color: rgb(171, 190, 202);
  text-align: center;
  padding-top: 35px;
  
}

.portfolio-container {
  height: 90vh;
  min-height: 100%;
  background-color: rgb(39, 42, 47) !important;
  color: rgb(171, 190, 202);

}

.project-container {
  font-family: "Noto Sans JP", sans-serif !important;
}

.about-container {
  font-family: "Noto Sans JP", sans-serif !important;
}